<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>Login</h1>
      <form #login="ngForm" (submit)="onLogin(login.value)">
        <label for="email">Email: </label>
        <input type="text" name="email"
        required
        [(ngModel)]="user.email"
        #email="ngModel"
        >
        <br>
        <label for="password">Password: </label>
        <input type="password" name="password"
        required
        [(ngModel)]="user.password"
        #password="ngModel"
        >
        <br>
        <p *ngIf="loginFailed" class="error">Invalid email/password</p>
        <input class="btn-primary" type="submit" value="Login">
      </form>
    </div>
    <div class="col-md-4">
      <h1>Registration</h1>
      <form #register="ngForm" (submit)="onRegister()">
        <label for="email">Email: </label>
        <input type="text" name="email"
        required
        [(ngModel)]="newUser.email"
        #email="ngModel"
        >
        <p *ngIf="email.touched && email.invalid" class="error">Please enter a valid email</p>
        <br>
        <label for="password">Password: </label>
        <input type="password" name="password"
        required
        minlength="7"
        [(ngModel)]="newUser.password"
        #password="ngModel"
        >
        <p *ngIf="password.touched && password.invalid" class="error">Password must be atleast 7 characters</p>
        <br>
        <label for="pwconfirm">Confirm Password: </label>
        <input type="password" name="pwconfirm"
        required
        [(ngModel)]="newUser.pwconfirm"
        #pwconfirm = "ngModel"
        [pattern] = 'password.value'>
        <br>
        <p *ngIf="pwconfirm.touched && pwconfirm.invalid" class="error">Confirm password must match password</p>
        <input [disabled]="!register.valid" class="btn-primary" type="submit" value="Register">
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>

</div>