<h1>ALL POLLS WILL BE DISPLAYED HERE</h1>
<input type="text" name="" placeholder="SEARCH POLLS HERE" (keyup)="searchPolls()">
<br>
<table class="table">
    <thead>
        <th>Question</th>
        <th>Score</th>
        <th>Created By</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr *ngFor="let poll of allPolls">
            <td><a [routerLink]="['poll', poll._id]">{{poll.question}}</a></td>
            <td>{{poll.score}}</td>
            <td>{{poll.createdBy}}</td>
            <td>delete button here</td>
        </tr>
    </tbody>
</table>
