<div *ngIf='thisRecipe'>
    <div class="row">
      <h1>{{thisRecipe.name | titlecase}}</h1>
      <h5 style="font-weight: bold;">Difficulty: {{thisRecipe.difficulty}}</h5>
      <form (submit)="addToPlan()">
        <label for="addToPlan">Add to: </label>
        <select name="addToPlan"
        required
        [(ngModel)] = "dayOfWeek"
        #dayOfWeekText = "ngModel"
        >
          <option value="mon">Monday</option>
          <option value="tues">Tuesday</option>
          <option value="wed">Wednesday</option>
          <option value="thurs">Thursday</option>
          <option value="fri">Friday</option>
          <option value="sat">Saturday</option>
          <option value="sun">Sunday</option>      
        </select>
        <input *ngIf="currentUser" type="submit" value="Add to plan" class="btn-primary" >
      </form>
      <p *ngIf="!currentUser" class="error">login to create your meal plan</p>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <h3><span style="font-size: 125%; font-weight: bold;">Ingredients</span></h3>
          <ul>
            <li *ngFor="let ingredient of thisRecipe.ingredients">{{ingredient}}</li>
          </ul>
      </div>  
      <div class="col-md-9">
        <h3><span style="font-size: 125%; font-weight: bold;">Method</span></h3>
        <p *ngFor="let step of thisRecipe.method">{{step}}</p>
      </div>
    </div>  
</div>
